@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about-us{
  position: absolute;
  top: -2rem;
  color: $white;
  font-weight: 600;
  font-size: 1.5rem;
}
.board-of-directors {
    padding: 1rem;
    background-color: $white;
    position: relative;
    top: -5.25rem;
  
    &__title {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
      
    }
  
    &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  
    &__card {
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
      width: 45%;
    }
    
    &__photo-container {
        display: flex;
        width: 120px; /* Adjust as needed */
        height: 120px; /* Adjust as needed */
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    &__photo {
      width: 100%;
      height: auto;
      align-self: center;
    }
  
    &__info {
      padding: 1rem;
    }
  
    &__name {
      margin: 0.5rem 0;
      font-size: .875rem;
      font-weight: 600;
      @include tablet{
          font-size: 1.25rem;
      }
    }
  
    &__role {

      margin: 0.25rem 0;
      font-size: .75rem;
        @include tablet{
            font-size: .875rem;
        }
    }
    
    &__pronouns {
        color: $brown;
        font-size: .75rem;
          @include tablet{
              font-size: .875rem;
          }
    }
  }
  
  @media (min-width: 768px) {
    .board-of-directors__grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  