$white: #ffffff;
$black: #181819;
$purple: #814294;
$green: #3bb44a;
$yellow: #f7d90f;
$orange: #f59320;
$red: #e92429;
$brown: #664118;
$blue: #61cbf1;
$pink: #f179a8;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-family: "Rig Sans", sans-serif;